@import 'vendor'

fonts = helvetica, arial, sans-serif

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  font 12px Helvetica, Arial, fonts

a.button
  border-radius 5px
